body {
	margin: auto;
	padding-top: 70px;
	width: 800px;
}

h1 {
	border-bottom: 1px solid black;
	margin-bottom: 1em;
}

.actions {
	margin: 1em 0;
	text-align: right;
}

label {
	margin-right: .5em;
}

.table .caption {
	border-bottom: 2px solid #ddd;
	display: block;
	font-size: 150%;
	font-weight: bold;
}

form label {
	display: inline-block;
	width: 13em;
}

.errorElement {
	display: inline-block;
}

.value input[type='text'], .value select, span.value {
	display: inline-block;
	width: 15em;
	margin-right: 1em;
	text-align: left;
}

.margin-top {
	margin-top: 2em;
}
