<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:af="http://codingcrayons.com/aspectfaces"
	  xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/WEB-INF/layout.xhtml">,

	<ui:define name="title">Tasks</ui:define>

	<ui:define name="content">

		<h:form styleClass="actions">
			<h:link outcome="task" value="#{text['action.newtask']}" styleClass="btn btn-sm btn-success"/>
		</h:form>

		<h:dataTable value="#{tasksBean.tasks}" var="item" styleClass="table table-striped table-hover" rendered="#{not tasksBean.tasks.isEmpty()}">

			<!-- table header -->
			<f:facet name="caption">
				<h:outputText value="#{text['info.taskstodo']}" styleClass="caption"/>
			</f:facet>

			<!-- remove tasks when finished -->
			<h:column>
				<f:facet name="header">#{text['task.done']}</f:facet>
				<h:form>
					<h:selectBooleanCheckbox value="#{item.done}">
						<f:ajax render=":container" listener="#{tasksBean.remove(item)}"/>
					</h:selectBooleanCheckbox>
				</h:form>
			</h:column>

			<!-- render model entity using Aspect Faces -->
			<!-- output should not be editable and should use configuration for tables -->
			<af:ui
					instance="#{item}"
					edit="false"
					config="table"
					prefix="item#{item.identifier}"
					entity="com.codingcrayons.aspectfaces.tutorial.model.Task"
					ignore="done"
					/>

		</h:dataTable>

		<!-- table is empty, inform user about it -->
		<h:outputText value="#{text['info.noitems']}" rendered="#{tasksBean.tasks.isEmpty()}"/>

	</ui:define>

</ui:composition>

</html>
