<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:af="http://codingcrayons.com/aspectfaces" xmlns:h="http://java.sun.com/jsf/html"
		>

<ui:composition template="/WEB-INF/layout.xhtml">,

	<ui:define name="title">Task</ui:define>

	<ui:define name="content">

		<h:form>
			<af:ui
					instance="#{taskBean.task}"
					edit="true"
					ignore="done"/>

			<h:commandButton action="#{taskBean.save}" value="#{text['action.save']}" styleClass="btn btn-sm btn-primary margin-top"/>
		</h:form>

	</ui:define>

</ui:composition>
</html>
