<ui:decorate xmlns="http://www.w3.org/1999/xhtml"
			 xmlns:ui="http://java.sun.com/jsf/facelets"
			 xmlns:h="http://java.sun.com/jsf/html"
			 template="#{empty template ? '/WEB-INF/af/profile/html/switcher.xhtml' : template}">

	<ui:param name="id" value="#{prefix}$field$"/>
	<ui:param name="label" value="#{text['$className$.$field$']}"/>
	<ui:param name="value" value="#{$ClassName$.$field$}"/>
	<ui:param name="rendered" value="#{empty render$Field$ ? 'true' : render$Field$}"/>
	<ui:param name="required" value="#{empty required$Field$ ? $required$ : required$Field$}"/>
	<ui:param name="maxlength" value="$maxLength$"/>
	<ui:param name="size" value="$size$"/>

	<ui:define name="input">
		<h:inputSecret
				rendered="#{rendered}"
				required="#{required}"
				id="#{id}"
				maxlength="#{maxlength}"
				size="#{size}"
				title="#{label}"
				value="#{value}"/>
	</ui:define>

	<ui:define name="output"/>

</ui:decorate>
