<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"/>
	<h:outputStylesheet library="css" name="style.css"/>
	<h:outputScript library="javax.faces" name="jsf.js"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>#{text['application.title']}</title>
</h:head>

<h:body>

	<h1>
		<ui:insert name="title"/>
	</h1>

	<div class="navbar navbar-default navbar-fixed-top">

		<div class="navbar-header">
			<h:link styleClass="navbar-brand" outcome="home">Aspect Faces | Getting Started</h:link>
		</div>

		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li><h:link outcome="tasks" value="#{text['action.tasks']}"/></li>
				<li><h:link outcome="task" value="#{text['action.newtask']}"/></li>
			</ul>
		</div>
	</div>

	<h:panelGroup layout="block" id="container">
		<ui:insert name="content"/>
	</h:panelGroup>

</h:body>

</html>
